<%= form_tag charges_path do %>

  <% if current_user.role == 'standard' %> 

    <h3><%= current_user.email %>, You are a standard user!</h3>
    <h3> Would you like to upgrade to become a premium user?</h3>
    <script class='stripe-button' src="https://checkout.stripe.com/checkout.js" data-key="<%= @stripe_btn_data[:key] %>" data-amount=<%= @stripe_btn_data[:amount] %> data-description="<%= @stripe_btn_data[:description] %>" ></script>
  <% else %> 
    <h3><%= current_user.email %>, You are a "premium" user!</h3>
    <h3> Downgrade your account? Are you sure?</h3>
    <br>
   <%= link_to "Downgrade Here", downgrade_path, class: 'btn btn-warning', data: { confirm: 'Are you sure you want to downgrade your membership? All your wikis will become public!' } %>
  <% end %>
  
  <% end %>
  

